{
  "name": "{{name}}",
  "lang": "en-US",
  "start_url": "/",
  "display": "fullscreen",
  "icons": [
    {
      "src": "/maskable-icon.png",
      "sizes": "196x196",
      "type": "image/png",
      "purpose": "any maskable"
    },
    {
      "src": "/splash-screen.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "background_color": "#ffffff",
  "theme_color": "#ffffff"
}